{{#each this.model as |customer|}}
    <h1>
        {{customer.firstName}} {{customer.lastName}}
    </h1>
    <ul>
        <li>{{customer.emailAddress}}</li>
        <li>{{customer.phoneNumber}}</li>
        <li>{{customer.company}}</li>
        <li>{{customer.project}}</li>
        <li>{{customer.budget}}</li>
    </ul>
    <hr>
{{/each}}