<p>
    <LinkTo @route="index">&larr; Home</LinkTo>
</p>
<div class="row">
    <div class="col-6">
        <p>
            Limit: {{this.paginator.config.limit}},
            Offset: {{this.paginator.offset}},
            Metadata Total: {{this.paginator.metadata.total}}
        </p>
        <p>Total pages: {{this.totalPages}} <small class="text-muted">(getter in controller)</small></p>
        <p class="form-inline">
            <Input @value={{this.foo}} class="form-control mr-2" type="text" placeholder="Foo" />
            <Input @value={{this.baz}} class="form-control mr-2" type="text" placeholder="Baz" />
            <button
                type="button"
                class="btn btn-outline-primary"
                disabled={{if this.paginator.hasMore (if this.paginator.isLoading true false) true}}
                {{on "click" this.paginator.filterModels}}
            >
                {{if this.paginator.isLoading "Loading..." "Filter"}}
            </button>
        </p>
        <p>
            <button
                type="button"
                class="btn btn-outline-secondary"
                disabled={{if this.paginator.hasMore (if this.paginator.isLoading true false) true}}
                {{on "click" this.paginator.reloadModels}}
            >
                {{if this.paginator.isLoading "Loading..." "Reload"}}
            </button>
            <button
                type="button"
                class="btn btn-outline-secondary"
                title="Check the console on click"
                disabled={{if this.paginator.hasMore (if this.paginator.isLoading true false) true}}
                {{on "click" this.customReload}}
            >
                {{if this.paginator.isLoading "Loading..." "Custom reload action"}}
            </button>
        </p>
        {{#each this.paginator.models as |customer|}}
            <h5>
                {{customer.firstName}} {{customer.lastName}}
            </h5>
            <ul>
                <li>{{customer.emailAddress}}</li>
                <li>{{customer.phoneNumber}}</li>
                <li>{{customer.company}}</li>
                <li>{{customer.project}}</li>
                <li>{{customer.budget}}</li>
            </ul>
            <hr>
        {{/each}}
        <p>
            <button
                type="button"
                class="btn btn-outline-secondary"
                disabled={{if this.paginator.hasMore (if this.paginator.isLoading true false) true}}
                {{on "click" this.paginator.loadMoreModels}}
            >
                {{if this.paginator.isLoading "Loading..." "Load more"}}
            </button>
        </p>
    </div>
    <div class="col-6">
        <p>
            Limit: {{this.paginatorTwo.config.limit}},
            Offset: {{this.paginatorTwo.offset}},
            Metadata Total: {{this.paginatorTwo.metadata.total}}
        </p>
        <p>Total pages: {{this.totalPagesTwo}} <small class="text-muted">(getter in controller)</small></p>
        <p class="form-inline">
            <Input @value={{this.mappedFilter}} class="form-control mr-2" type="text" placeholder="Custom Filter Property" />
            <button
                type="button"
                class="btn btn-outline-primary"
                disabled={{if this.paginatorTwo.hasMore (if this.paginatorTwo.isLoading true false) true}}
                {{on "click" this.paginatorTwo.filterModels}}
            >
                {{if this.paginatorTwo.isLoading "Loading..." "Filter"}}
            </button>
        </p>
        <p>
            <button
                type="button"
                class="btn btn-outline-secondary"
                disabled={{if this.paginatorTwo.hasMore (if this.paginatorTwo.isLoading true false) true}}
                {{on "click" this.paginatorTwo.reloadModels}}
            >
                {{if this.paginatorTwo.isLoading "Loading..." "Reload"}}
            </button>
        </p>
        {{#each this.paginatorTwo.models as |customer|}}
            <h5>
                {{customer.firstName}} {{customer.lastName}}
            </h5>
            <ul>
                <li>{{customer.emailAddress}}</li>
                <li>{{customer.phoneNumber}}</li>
                <li>{{customer.company}}</li>
                <li>{{customer.project}}</li>
                <li>{{customer.budget}}</li>
            </ul>
            <hr>
        {{/each}}
        <p>
            <button
                type="button"
                class="btn btn-outline-secondary"
                disabled={{if this.paginatorTwo.hasMore (if this.paginatorTwo.isLoading true false) true}}
                {{on "click" this.paginatorTwo.loadMoreModels}}
            >
                {{if this.paginatorTwo.isLoading "Loading..." "Load more"}}
            </button>
        </p>
    </div>
</div>